doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        title Medico-Chain
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(href='stylesheets/layout.css', rel='stylesheet', type='text/css', media='all')
        link(href="https://bootswatch.com/4/flatly/bootstrap.min.css",rel='stylesheet',type='text/css')
        script(src='http://localhost:3000/javascripts/jquery.min.js')
        script(src='https://unpkg.com/sweetalert2@7.18.0/dist/sweetalert2.all.js')
   
    
    
        script(src="http://localhost:3000/javascripts/approverequest.js")
        script(src='http://localhost:3000/jahttp://localhost:3000/vascripts/jquery.backtotop.js')
        script(src='http://localhost:3000/javascripts/jquery.mobilemenu.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    body

